In [1]:
a = [1,2,3,4,5,6]
a[0]

1

In [2]:
A = [1,2,3,"sunny",1+2j,"true"]
type(A)

list

In [3]:
#list
#what is the difference between list of python and array os any language like c and c++
#-- in array we will have elements of only one type of datatype element

In [4]:
for element in A:
    print(element)

1
2
3
sunny
(1+2j)
true

In [5]:
len(A)

6

In [6]:
for i in range(len(A)):
    print(f"i={i}, value = {A[i]},datatype={type(A[i])}")

i=0, value = 1,datatype=<class 'int'>
i=1, value = 2,datatype=<class 'int'>
i=2, value = 3,datatype=<class 'int'>
i=3, value = sunny,datatype=<class 'str'>
i=4, value = (1+2j),datatype=<class 'complex'>
i=5, value = true,datatype=<class 'str'>

In [7]:
A[0::2] #[start index: end index :step]

[1, 3, (1+2j)]

In [8]:
A[3:]

['sunny', (1+2j), 'true']

In [9]:
for i in range(0,8,2):#start end steps
    print(i, A[i])

0 1
2 3
4 (1+2j)

IndexError: list index out of range

In [ ]:
A

In [ ]:
A[::-1]

In [ ]:
for i in range(-1 , -len(A) -1, -1):
    print(i , A[i])

In [ ]:
A[4] = 666

In [ ]:
A

In [ ]:
B = [78,90,92]

In [ ]:
A+B

In [ ]:
A = A + B

In [ ]:
A

In [ ]:
A * 2

In [ ]:
A+A+A

In [18]:
list_of_items_to_purchase = list()
N = int(input("no of items you want to purchase: "))
i = 0
while i<N:
    user_input = input("Enter the items you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
    print(f"current list: {list_of_items_to_purchase}")
    i = i + 1
print(list_of_items_to_purchase)

no of items you want to purchase: 2
Enter the items you want to purchase: pen
current list: ['pen']
Enter the items you want to purchase: ijk
current list: ['pen', 'ijk']
['pen', 'ijk']

In [17]:
#check list

"pen" in list_of_items_to_purchase

True

In [18]:
if "Milk" not in list_of_items_to_purchase:
    print("NO")

NO

In [3]:
ex = [1,2,3,4,5,33,4,44,999]
max(ex)

999

In [4]:
string_example = ["bhaveen","abhishek","dew","dj","chrlie"]
min(string_example)

'abhishek'

In [5]:
max_len = 0
result = " "
for example in string_example:
    print(example, len(example))
    if len(example) > max_len:
        max_len = len(example)
        result = example
print(f"RESULT: max_len: {max_len} name: {result}")

bhaveen 7
abhishek 8
dew 3
dj 2
chrlie 6
RESULT: max_len: 8 name: abhishek

In [12]:
a = [1,2,3,4,33]
a.append("99")
a

[1, 2, 3, 4, 33, '99']

In [19]:

list_of_items_to_purchase = list()
n = int(input("no of items"))

for i in range(n):
    user_input = input("Enter the items that you want to purchase:")
    list_of_items_to_purchase.append(user_input)
print(list_of_items_to_purchase)

no of items2
Enter the items that you want to purchase:prn
Enter the items that you want to purchase:klj
['prn', 'klj']

In [27]:
A = [6,3,4,2,'abhi']
A.pop(4)

'abhi'

In [29]:
# remove the odd element
a = [1,34,23,65,76,88,99]
for idx in range(len(a)):
    num = a[idx]
    print(idx,num)
    if num%2 != 0:#odd condition
        print(f"odd num :{num}")
    else:
        print(f"even no {num}")

0 1
odd num :1
1 34
even no 34
2 23
odd num :23
3 65
odd num :65
4 76
even no 76
5 88
even no 88
6 99
odd num :99

In [37]:
a = sorted(a)
a

[1, 23, 34, 65, 76, 88, 99]

In [38]:
a[::-1]

[99, 88, 76, 65, 34, 23, 1]

In [41]:
a = [1,45,67,98,-34]
a.sort(reverse=True) #directly get answer in decending order
a

[98, 67, 45, 1, -34]

In [44]:
a.reverse() #implace solution

In [45]:
a

[98, 67, 45, 1, -34]

# nesting of list

In [47]:
#nesting of the list
a = [[1,2,3],[11,22,33],[23,56,78]]
a

[[1, 2, 3], [11, 22, 33], [23, 56, 78]]

In [48]:
a[0]

[1, 2, 3]

In [50]:
a[0][1]

2

In [57]:
amazon_cart = [["watch",5000],["phone",10000],["laptop",100000]]

total_cost = 0
amazon_cart[0][1]+amazon_cart[1][1]+amazon_cart[2][1]

115000

In [58]:
total_cost = 0

for i in range(len(amazon_cart)):
    print(amazon_cart[i][1])
    total_cost = total_cost + amazon_cart[i][1]
    
print(total_cost)

5000
10000
100000
115000

In [60]:
total_cost = 0
for item in amazon_cart:
    print(item[1])
    total_cost = total_cost + item[1]
    print(f"cart after adding : {item[0]}: {total_cost}")
print(f"Total Payable amount:  {total_cost}")

5000
cart after adding : watch: 5000
10000
cart after adding : phone: 15000
100000
cart after adding : laptop: 115000
Total Payable amount:  115000

# List comprehension

In [64]:
#list which contain list of square of no between 1 to 10


a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
ans = list()

for ele in a:
    print(ele**2)
    ans.append(ele**2)
print(ans)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324]

In [65]:
ans = [ele **2 for ele in a]
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324]

In [66]:
ans = [i**2 for i in a]
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324]

In [71]:
# only take the square of odd no in the list A
a = [1,2,3,4,5,6,7,8,9,10]
ans = list()
for ele in a:
    if ele%2 != 0:
        print(ele)
        ans.append(ele**2)
ans

1
3
5
7
9

[1, 9, 25, 49, 81]

In [69]:
ans = [ele**2 for ele in a if ele%2 != 0]
print(ans)

[1, 9, 25, 49, 81]

# count

In [73]:
A = [1,2,1,4,5,6,3,5,2,3,1,1,2]
A.count(1)

4

In [74]:
a = [1,2,3,4,5,4,[7,7,],[3,4,],[7,7],33]
a.count([7,7])

2

In [76]:
a = [1,2,1,4,5,6,3,5,2,3,1,1,2]
for i in a:
    print(i,a.count(i))

1 4
2 3
1 4
4 1
5 2
6 1
3 2
5 2
2 3
3 2
1 4
1 4
2 3

In [77]:
A = "Abhinav Kumar"
for i in A:
    print(i,A.count(i))

A 1
b 1
h 1
i 1
n 1
a 2
v 1
  1
K 1
u 1
m 1
a 2
r 1

# Extend Method

In [81]:
A = [1,2,3]

B = [11,22,33]
A.extend(B)
A

[1, 2, 3, 11, 22, 33]

In [83]:
A.append(B)
A

[1, 2, 3, 11, 22, 33, [11, 22, 33], [11, 22, 33]]

# index method

In [84]:
A = [1,2,3,4,5,6,"Abhinav",14+2j]

In [86]:
A.index(1)

0

In [87]:
A.index("Abhinav")

6

In [89]:
#print the index of all the complex no
#do a for loop
#if condition for type check
#if type is complex then print the index



for ele in A:
    print(f" Element: {ele}, | type: {type(ele)},|Index position:  {A.index(ele)}")

 Element: 1, | type: <class 'int'>,|Index position:  0
 Element: 2, | type: <class 'int'>,|Index position:  1
 Element: 3, | type: <class 'int'>,|Index position:  2
 Element: 4, | type: <class 'int'>,|Index position:  3
 Element: 5, | type: <class 'int'>,|Index position:  4
 Element: 6, | type: <class 'int'>,|Index position:  5
 Element: Abhinav, | type: <class 'str'>,|Index position:  6
 Element: (14+2j), | type: <class 'complex'>,|Index position:  7

In [90]:
for ele in A:
    if type(ele) == complex:
        print(f" Element: {ele}, | type: {type(ele)},|Index position:  {A.index(ele)}")

 Element: (14+2j), | type: <class 'complex'>,|Index position:  7

In [93]:
for ele in A:
    #if type(ele) == int:
    if isinstance(ele,int):
        print(f" Element: {ele}, | type: {type(ele)},|Index position:  {A.index(ele)}")

 Element: 1, | type: <class 'int'>,|Index position:  0
 Element: 2, | type: <class 'int'>,|Index position:  1
 Element: 3, | type: <class 'int'>,|Index position:  2
 Element: 4, | type: <class 'int'>,|Index position:  3
 Element: 5, | type: <class 'int'>,|Index position:  4
 Element: 6, | type: <class 'int'>,|Index position:  5

In [95]:
#print the index of all the complex and int integer
for ele in A:
    #if type(ele) == int:
    if isinstance(ele,(int,complex)):
        print(f" Element: {ele}, | type: {type(ele)},|Index position:  {A.index(ele)}")

 Element: 1, | type: <class 'int'>,|Index position:  0
 Element: 2, | type: <class 'int'>,|Index position:  1
 Element: 3, | type: <class 'int'>,|Index position:  2
 Element: 4, | type: <class 'int'>,|Index position:  3
 Element: 5, | type: <class 'int'>,|Index position:  4
 Element: 6, | type: <class 'int'>,|Index position:  5
 Element: (14+2j), | type: <class 'complex'>,|Index position:  7

In [2]:
A = [11,3,4,56+2j,1+2j,3,5] # duplicate elements 
A.index(4)

2

# Insert

In [14]:
A = [1,2,3,4,5]
A.append(9)

In [15]:
A

[1, 2, 3, 4, 5, 9]

In [18]:
A.insert(2,99)

In [19]:
A

[1, 2, 99, '99', 3, 4, 5, 9]

In [23]:
A.insert(2,"Abhinav")
len(A)

11

In [21]:
A

[1, 2, 'Abhinav', 99, '99', 3, 4, 5, 9]

 # Remove

In [27]:
a = [1,2,3,4,5]
a.remove(3)

In [28]:
a

[1, 2, 4, 5]

# TUPLES- () -immutable

In [1]:
a = (1,3,4)

In [2]:
type(a)

tuple

In [3]:
a[0]

1

In [4]:
a = (22,12,34,1)

In [7]:
sorted(a)

[1, 12, 22, 34]

In [8]:
a =sorted(a)
a

[1, 12, 22, 34]

In [9]:
a = (22,12,34,1)
len(a)

4

In [13]:
a *2

(22, 12, 34, 1, 22, 12, 34, 1)

In [17]:
max(a),min(a),sum(a),a.count(34)

(34, 1, 69, 1)

In [18]:
a[::-1]

(1, 34, 12, 22)

In [19]:
#user input what they want to purchase

amazon_web = [("watches",5000),("phone",15000),("laptop",190000),("tshirt",1000)]
my_choice = input("what dou you want to purchase: ")
for item in amazon_web:
    if item[0] == my_choice:
        print(item)

what dou you want to purchase: phone
('phone', 15000)

# SETS

In [20]:
#sets is an unordered collection of unique elements

In [21]:
x = {1,2,33,6,5}
type(x)

set

In [23]:
x[0] # not allowed as set is an unordered

TypeError: 'set' object is not subscriptable

In [24]:
x = {1,2,33,6,5,"Abhinav"}

In [25]:
x

{1, 2, 33, 5, 6, 'Abhinav'}

In [28]:
x.add(99) #append doesn't work in sets

x

{1, 2, 33, 5, 6, 99, 'Abhinav'}

In [32]:
x.add(99+2j)
x

{(99+2j), 1, 2, 33, 5, 6, 99, 'Abhinav'}

In [33]:
x.add(-200)
x

{(99+2j), -200, 1, 2, 33, 5, 6, 99, 'Abhinav'}

In [34]:
x.add(9.12)
x

{(99+2j), -200, 1, 2, 33, 5, 6, 9.12, 99, 'Abhinav'}

In [29]:
a = {1,2,3}
b = {4,5,6}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [36]:
x.remove(33)
x

KeyError: 33